# Python caches
__pycache__/
*.py[cod]
*.pyo

# pytest
.pytest_cache/

# VSCode
.vscode/

# venv and env files
.venv/
.env
.venv-airflow/

# Build
*.egg-info/
dist/
build/

# Perfect
.prefect/
config.toml
prefect_server.log
prefect_worker.log

